{% load static %}

<!DOCTYPE html>
<html data-wf-domain="www.mindcure.com" data-wf-page="602735be176966441562615c" data-wf-site="602735be17696608f262615b"
    lang="en">

<head>
    <meta charset="utf-8" />
    <title>test. | Psychedelics Meet Technology</title>
    <meta
        content="MINDCURE develops psychedelic research, digital health tools, and medicines to optimize mental health care for clinicians and their clients. We offer a full cycle of wellness."
        name="description" />
    <meta content="MINDCURE Health Inc. | Psychedelics Meet Technology" property="og:title" />
    <meta
        content="MINDCURE develops psychedelic research, digital health tools, and medicines to optimize mental health care for clinicians and their clients. We offer a full cycle of wellness."
        property="og:description" />
    <meta
        content="https://assets-global.website-files.com/602735be17696608f262615b/6098b652e70e2336d898bc79_og%20image.jpg"
        property="og:image" />
    <meta content="MINDCURE Health Inc. | Psychedelics Meet Technology" property="twitter:title" />
    <meta
        content="MINDCURE develops psychedelic research, digital health tools, and medicines to optimize mental health care for clinicians and their clients. We offer a full cycle of wellness."
        property="twitter:description" />
    <meta
        content="https://assets-global.website-files.com/602735be17696608f262615b/6098b652e70e2336d898bc79_og%20image.jpg"
        property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://assets-global.website-files.com/602735be17696608f262615b/css/mindcure.598edcbf4.min.css"
        rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({ google: { families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Playfair Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic", "Montserrat Alternates:regular,500,700"] } });
    </script>
    <script
        type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/fav-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://thedigitalpanda.gitlab.io" />


    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PLFNQ2M');</script>

</head>
                                            </path>

<body>
    <div class="row">
        <div class="container">
            <div class="row our_work_mobile_version">
                <div class="col-md-12 col-12">
                    <div class="text-center">
                        <h1 style="font-size: 35px  !important;" class="heading--section hero no--wrap mt-5">Privacy &
                            Cookie Policy</h1>
                    </div>
                    <div class="px-4 privacy_heading">
                        <h2>Introduction</h2>
                    </div>
                    <p class="p-4">1.1 We are committed to safeguarding the privacy of our website visitors and
                        service users
                        <br> 1.2 This policy applies where we are acting as a data controller with respect to the
                        personal data of our website visitors and service users; in other words, where we determine
                        the purposes and means of the processing of that personal data.
                        1.3 We use cookies on our website. Insofar as those cookies are not strictly necessary for
                        the provision of our website and services, we will ask you to consent to our use of cookies
                        when you first visit our website.
                        1.4 In this policy, "we", "us" and "our" refer to Accelsobio, LLC. For more information
                        about us, see Section 13.
                    </p>
                </div>

            </div>
            <div class="px-4 ">
                <h2> Credit</h2>
            </div>
            <div class="px-4">
                <h2> Protecting your personal data
                </h2>
            </div>
            <p class="p-4">We maintain physical, electronic, and administrative policies and procedures which, in
                taking into account the nature and complexity of data processing, are designed to protect your
                information. These measures rely on programs and specifications provided by our third-party hosting
                and electronic service providers, which include physical and electronic security and computer and
                communication security measures reflected in system design, password protection, and data management
                practices; and other measures to restrict access to the data we hold in physical and electronic
                forms.

            </p>


            <div class="px-4">
                <h2> How we use your personal data

                </h2>
            </div>
            <p class="p-4"> In this Section 4 we have set out:
                (a) the general categories of personal data that we may process;
                (b) the purposes for which we may process personal data; and
                (c) the legal bases of the processing.
            </p>
            <p>We may process data about your use of our website and services ("usage data"). The usage data may
                include your IP address, geographical location, browser type and version, operating system, referral
                source, length of visit, page views and website navigation paths, as well as information about the
                timing, frequency and pattern of your service use. The source of the usage data is our analytics
                tracking system. This usage data may be processed for the purposes of analyzing the use of the
                website and services. The legal basis for this processing is our legitimate interests, namely
                monitoring and improving our website and services.
            </p>
            <p> We may process your account data ("account data"). The account data may include your name and email
                address. The source of the account data is you or your employer. The account data may be processed
                for the purposes of operating our website, providing our services, ensuring the security of our
                website and services, maintaining back-ups of our databases and communicating with you. The legal
                bases for this processing are contractual necessity, and our legitimate interests, namely the proper
                administration of our website and business, including communication with you at your own request.
            </p>

            <p> We may process your information included in a communication to us through our website ("profile
                data"). The profile data may include your name, address, telephone number, email address, gender,
                date of birth,interests and hobbies, educational details and employment details. The profile data
                may be processed for the purposes of enabling and monitoring your use of our website and services.
                The legal bases for this processing are contractual necessity and our legitimate interests, namely
                the proper administration of our website and business.
            </p>

            <p> We may process information contained in any enquiry you submit to us regarding goods and/or services
                ("enquiry data"). The enquiry data will only be processed for the purposes of responding to your
                enquiry. The legal basis for this processing is our legitimate interests, namely the proper
                administration of our website and business.
            </p>


            <p>We may process information relating to our customer and contractor relationships, including customer
                contact information ("customer and contractor relationship data"). The customer and contractor
                relationship data may include your name, your employer, your job title or role, your contact
                details, and information contained in communications between us and you or your employer. The source
                of the customer and contractor relationship data is you or your employer. The customer and
                contractor relationship data may be processed for the purposes of managing our relationships with
                customers and contractors, communicating with customers and contractors, and keeping records of
                those communications. The legal bases for this processing are contractual necessity, and our
                legitimate interests, namely the proper management of our customer and contractor relationships.
            </p>


            <p>We may process information relating to transactions, including purchases of goods and services, that
                you enter into with us and/or through our website ("transaction data"). The transaction data may
                include your contact details, your card details and the transaction details. The transaction data
                may be processed for the purpose of supplying the purchased goods and services and keeping proper
                records of those transactions. The legal basis for this processing is the performance of a contract
                between you and us and/or taking steps, at your request, to enter into such a contract and our
                legitimate interests, namely the proper administration of our business.
            </p>


            <p> We may process any of your personal data identified in this policy where necessary for the
                establishment, exercise or defense of legal claims, whether in court proceedings or in an
                administrative or out-of-court procedure. The legal basis for this processing is our legitimate
                interests, namely the protection and assertion of our legal rights, your legal rights and the legal
                rights of others.
            </p>



            <p>We may process any of your personal data identified in this policy where necessary for the purposes
                of obtaining or maintaining insurance coverage, managing risks, or obtaining professional advice.
                The legal basis for this processing is our legitimate interests, namely the proper protection of our
                business against risks, both known and unforeseen.
            </p>


            <p> In addition to the specific purposes for which we may process your personal data set out in this
                Section 3, we may also process any of your personal data where such processing is necessary for
                compliance with a legal obligation to which we are subject, or in order to protect your vital
                interests or the vital interests of another natural person.
            </p>


            <p> Please do not supply any other person's personal data to us, unless we prompt you to do so.
            </p>
            <div class="px-4">
                <h2> Providing your personal data to others

                </h2>
            </div>
            <p class="p-4"> We may disclose your personal data to any member of our group of companies (this means
                our corporate partner(s) and our sub-contracted entities, insofar as they pertain to our business
                contract or your business inquiry) as reasonably necessary for the purposes, and on the legal bases,
                set out in this policy. Information about our company can be found at <a href="https://accelsobio.com">
                    https://accelsobio.com </a>
            </p>

            <p> We may disclose your personal data to our insurers and/or professional advisers insofar as
                reasonably necessary for the purposes of obtaining or maintaining insurance coverage, managing
                risks, obtaining professional advice, or the establishment, exercise or defense of legal claims,
                whether in court proceedings or in an administrative or out-of-court procedure.
            </p>


            <p> Financial transactions relating to our website and services are handled by our payment services
                provider, Truist Bank. We will share transaction data with our payment services providers only to
                the extent necessary for the purposes of processing your payments, refunding such payments and
                dealing with complaints and queries relating to such payments and refunds. You can find information
                about the payment services provider’s privacy policies and practices <a href="https://truist.com">
                    https://truist.com.</a>
            </p>


            <p> In addition to the specific disclosures of personal data set out in this Section 4, we may disclose
                your personal data where such disclosure is necessary for compliance with a legal obligation to
                which we are subject, or in order to protect your vital interests or the vital interests of another
                natural person. We may also disclose your personal data where such disclosure is necessary for the
                establishment, exercise or defense of legal claims, whether in court proceedings or in an
                administrative or out-of-court procedure.
            </p>
            <div class="px-4">
                <h2> Protecting your personal data
                </h2>
            </div>
            <p class="p-4">We maintain physical, electronic, and administrative policies and procedures which, in
                taking into account the nature and complexity of data processing, are designed to protect your
                information. These measures rely on programs and specifications provided by our third-party hosting
                and electronic service providers, which include physical and electronic security and computer and
                communication security measures reflected in system design, password protection, and data management
                practices; and other measures to restrict access to the data we hold in physical and electronic
                forms.

            </p>






            <div class="px-4">
                <h2> International transfers of your personal data

                </h2>
            </div>
            <p class="p-4">In this Section 6, we provide information about the circumstances in which your personal
                data may be transferred to countries outside the European Economic Area (EEA), if you reside there.
            </p>


            <p> Our offices and facilities are located in The United States.. The European Commission has made an
                "adequacy decision" with respect to the data protection laws of each of the European countries.
                Transfers to and from each of these countries will be protected by appropriate safeguards, namely
                the use of standard data protection clauses adopted or approved by the European Commission, a copy
                of which can be obtained from this website.
            </p>


            <p>The hosting facilities for our website are situated in The United States of America. The European
                Commission has made an "adequacy decision" with respect to EU data transferred to the US. Such data
                will be protected by appropriate safeguards, namely the use of standard data protection clauses
                adopted or approved by the European Commission, a copy of which you can obtain from the link in
                clause 6.2.
            </p>


            <p>Subcontractors of Accelsobio are located in, and may in future be located in, several EU and non-EU
                countries. The European Commission has made an "adequacy decision" with respect to the data
                protection laws of each of these countries. Transfers to each of these countries will be protected
                by appropriate safeguards, namely the use of standard data protection clauses adopted or approved by
                the European Commission, a copy of which you can obtain from the link in clause 6.2.
            </p>

            <p>You acknowledge that personal data that you submit for publication through our website or services
                may be available, via the internet, around the world. We cannot prevent the use (or misuse) of such
                personal data by others.
            </p>


            <p> To the extent Accelsbio transfers personal data out of the EEA, the basis of that transfer is the
                performance of a contract between you and us and/or taking steps, at your request, to enter into
                such a contract.
            </p>
            <div class="px-4">
                <h2> Retaining and deleting personal data

                </h2>
            </div>
            <p class="p-4">This Section 7 sets out our data retention policies and procedure, which are designed to
                help ensure that we comply with our legal obligations in relation to the retention and deletion of
                personal data.

            </p>


            <p> Personal data that we process for any purpose or purposes shall not be kept for longer than is
                necessary for that purpose or those purposes.</p>

            <p> As our business pertains to the maintenance of a research network, and the maintenance of our client
                relationships, any data relevant to those tasks may be retained for as long as required to conduct
                our business appropriately. Any data collected in ancillary fashion and which does not pertain to
                our business interests will be retained for no longer than five years.
            </p>

            <p>Notwithstanding the other provisions of this Section 6, we may retain your personal data where such
                retention is necessary for compliance with a legal obligation to which we are subject, or in order
                to protect your vital interests or the vital interests of another natural person.
            </p>
            <div class="px-4">
                <h2> Amendments
                </h2>
            </div>
            <p class="p-4"> We may update this policy from time to time by publishing a new version on our website.

            </p>

            <p> You should check this page occasionally to ensure you are happy with any changes to this policy.</p>

            <p> We will notify you of significant changes to this policy by email. The current policy can always
                found on our website.</p>

            <div class="px-4">
                <h2> Your rights

                </h2>
            </div>
            <p class="p-4"> If you are a natural person located in the EEA, you have the following rights with
                respect to your personal data:
                <br> (a) the right to access; <br>
                (b) the right to rectification; <br>
                (c) the right to erasure; <br>
                (d) the right to restrict processing; <br>
                (e) the right to object to processing; <br>
                (f) the right to data portability; <br>
                (g) the right to complain to a supervisory authority; <br>
                (h) the right to withdraw consent. <br>


            </p>
            <p> You may exercise any of your rights in relation to your personal data by written notice to us at
                compliance@accelsobio.com.
            </p>



            <div class="px-4">
                <h2> About cookies

                </h2>
            </div>
            <p class="p-4"> A cookie is a file containing an identifier (a string of letters and numbers) that is
                sent by a web server to a web browser and is stored by the browser. The identifier is then sent back
                to the server each time the browser requests a page from the server.


            </p>


            <p> Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored
                by a web browser and will remain valid until its set expiry date, unless deleted by the user before
                the expiry date; a session cookie, on the other hand, will expire at the end of the user session,
                when the web browser is closed.
            </p>

            <p> Cookies do not typically contain any information that personally identifies a user, but personal
                information that we store about you may be linked to the information stored in and obtained from
                cookies.
            </p>


            <div class="px-4">
                <h2> Cookies that we use

                </h2>
            </div>
            <p class="p-4">As a company, we do not use cookies. However, our service providers do, as established
                in section 11.

            </p>




            <div class="px-4">
                <h2> Cookies used by our service providers

                </h2>
            </div>
            <p class="p-4">Our service providers use cookies and those cookies may be stored on your computer when
                you visit our website.


            </p>

            <p> We use Google Analytics to analyze the use of our website. Google Analytics gathers information
                about website use by means of cookies. The information gathered relating to our website is used to
                create reports about the use of our website. Google's privacy policy is available at:
                <a href="https://www.google.com/policies/privacy/"> https://www.google.com/policies/privacy/. </a>
            </p>


            <p> We use Amazon Web Services to host our website. This service uses cookies for usage analytics and
                other purposes as noted in their cookie policy.
            </p>


            <div class="px-4">
                <h2> Managing cookies
                </h2>
            </div>
            <p class="p-4"> Most browsers allow you to refuse to accept cookies and to delete cookies. The methods
                for doing so vary from browser to browser, and from version to version. You can however obtain
                up-to-date information about blocking and deleting cookies via these links:
                <a href=" https://support.google.com/chrome/answer/95647?hl=en"><br> (a)
                    https://support.google.com/chrome/answer/95647?hl=en (Chrome);
                    <br></a>
                <a href=" https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">(b)
                    https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences (Firefox);
                    <br></a>
                <a href=" http://www.opera.com/help/tutorials/security/cookies/">(c)
                    http://www.opera.com/help/tutorials/security/cookies/ (Opera); <br></a>
                <a
                    href=" https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">(d)
                    https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies
                    (Internet Explorer); <br></a>
                <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"> (e)
                    https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac (Safari);
                    and <br></a>
                <a href=" https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy ">(f)
                    https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy (Edge). <br></a>
                Blocking all cookies will have a negative impact upon the usability of many websites. <br>
                If you block cookies, you will not be able to use all the features on our website. <br>


            </p>


            <div class="px-4">
                <h2> Our details

                </h2>
            </div>
            <p class="p-4"> This website is owned and operated by Accelsobio, LLC. <br>
                We are a limited liability company registered in the United States of America in the state of
                Florida. <br>
                Our principal place of business is located in Saint Cloud, Florida, USA. Our mailing address can be
                obtained by sending an enquiry to info@accelsobio.com. <br>
                You can contact us: <br>
                (a) by email at info@accelsobio.com;<br>
                (b) using our website contact form; <br>
                (c) by telephone, on the contact number published on our website from time to time; or 407-457-0012
                <br>
                (d) by postal mail, if you have enquired our mailing address and it has been provided.

            </p>
        </div>
    </div>

    </div>
    </div>
</body>
</html>